<!-- prettier-ignore -->
{{ if .caption }}
  <figure>
{{ end }}

{{ if (strings.HasPrefix .src "http") }}
  <!-- External image -->
  <img
    src="{{ .src }}"
    alt="{{ .alt }}"
    {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
    {{ if .lazy }}loading="lazy"{{ end }}
  />
{{ else if (strings.HasPrefix .src "/") }}
  <!-- Image from static/ -->
  {{ $imageConfig := imageConfig (path.Join "static" .src) }}
  <img
    src="{{ .src }}"
    alt="{{ .alt }}"
    {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
    {{ if .lazy }}loading="lazy"{{ end }}
    width="{{ $imageConfig.Width }}"
    height="{{ $imageConfig.Height }}"
  />

{{ end }}


<!-- prettier-ignore -->
{{ if .caption }}
    <figcaption>{{ .page.RenderString .caption }}</figcaption>
  </figure>
{{ end }}
